html{
    overflow: hidden;
}

.box1{
    display: flex;
    justify-content: space-between;
}
.sidebar{
    width: 25%;
    height: 100%;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.user{
    width: 60%;
    height: 20%;

}
.box_conteudo{

    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

}
.box_conteudo button{
    height: 50%;
    width: 50%;
    
}

/* CONTEUDO 1 */
.conteudo1{
    display: flex;
    height: 100%;
    width: 75%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.grafico{
    width: 60%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* CONTEUDO 2 */


.coluna{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sidebar .titulo{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.sidebar .titulo h1{
    color: rgb(219, 188, 188);
    font-size: 20px;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 2px 2px 2px black;
}
.sidebar .corpo{
    width: 100%;
    height: 75%;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo1 .titulo{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.conteudo1 .titulo h1{
    color: rgb(219, 188, 188);
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 2px 2px 2px black;
}
.conteudo1 .corpo{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}



