.conteudo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
}
.conteudo .cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.conteudo .texto{
    margin-top: 150px;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    
    
}
.conteudo .texto p{

    color: rgb(219, 188, 188);
    font-size: 20px;
    font-style: italic;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 2px 2px 2px black;
    padding: 50px;
    


}


.conteudo h1{
    color: white;
    text-shadow: 2px 2px 2px black;
}

.grid{
    margin-top: 200px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    
}

.grid .caixa{
    margin: 5px 100px 20px 100px;
    
}

.grid img {
	
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
    cursor: pointer;
}
.grid img:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.back-to-top {
    background-color: #38322e;
    border-radius: 65px;
    bottom: 14px;
    box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);
    color: #d9a000;
    cursor: pointer;
    height: 40px;
    position: fixed;
    right: 22px;
    width: 40px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
 