@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Indie+Flower&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Indie+Flower&family=Patrick+Hand&family=Zen+Antique&display=swap');

html{
    scrollbar-width: none;
    scroll-behavior: smooth;
    background-color: #6a2a8f;
}
::-webkit-scrollbar {
    display: none;
}

a {text-decoration: none;color:#fff}
a:visited{color:#fff}

h1{
    font-family: 'Zen Antique', serif;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}

header {

    height: 95px;
    width: 100%;
    background-color: black;
    
}
header .container{

    display: flex;
    justify-content: space-between;
    align-items: center;


}
.logo{

    color:#fff;
    width: max-content;
    height: max-content;
    font-size: 20px;
    
    
}

.navbar{

    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;

}
.navbar a{
    font-size: 20px;
}
 

/* Primeiro Corpo */
.box1{

    height: 600px;
    width: 100%;
    background-color: #6a2a8f;
    
}
.box1 .container{
    width: 100%;
    display: flex;
}
.slider img {
    width: 120%;
    height: 120%;
    margin-top: 50px; 
}



.slider_animacao {
    position: relative;
    animation: animateright 5s;

}

@keyframes animateright {
    from{
        right:0;
        opacity:0;
    } to {
        right:0;
        opacity:1;
    }
}
.texto2{
    display: flex;
    position: absolute;
    z-index: 10;
    margin-left: 300px;
    width: 800px;
    
}
.container p{
    color: rgb(219, 188, 188);
    font-size: 20px;
    font-style: italic;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 2px 2px 2px black;
}

/* Segundo Corpo */

.box2{

    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #6a2a8f;*/
    background-image: linear-gradient(black, #6a2a8f);

}
.box3{

    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #6a2a8f;*/
    background-image: linear-gradient(#6a2a8f,black );
    
}
footer {

    height: 260px;
    width: 100%;
    background-color: black;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

}
.box_footer{

    height: 85%;
    width: 33%;
    padding: 15px;
    border: 1px solid black;

}
.box_footer p {
    color: white;
}
#box_footer1{
    display: flex;
    flex-direction: column;
}
#div_footer1{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#div_footer1 div{
    margin-left: 45px;
    
}
#div_footer2{
    font-size: 13px;
    margin-left: 50px;
    margin-top: 50px;
    font-style: italic;

}
#div_footer1 img{

    height: 45px;
    width: 45px;
    margin: 4px;
    
}

#div_footer2{
    width: 100%;
    height: 49%;
}
#box_footer3 img{height: 120px; padding-left: 50px;}


.box_footer h2{
    margin-left: 50px;
    margin-bottom: 30px;
    color: white;

}
.box_footer li {
    list-style-type: none;
    margin: 10px;
    
}
li a:visited{
    color: #fff;
}
li a:hover{
    color: #6a2a8f;
}
