html{
    overflow: hidden;
}
.box2 h1{
    color: white;
    text-shadow: 2px 2px 2px black;
}
.box2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.caixa{
    height: 80%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 50px;
}
.caixa1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}
.caixa1 select{
    height: 40px;
    width: 450px;
    background-color: #6a2a8f0a;
    border: none;
    font-size: 30px;
    font-family: 'Zen Antique', serif;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.caixa1 button{
    height: 50px;
    width: 200px;
    font-size: 30px;
    font-family: 'Zen Antique', serif;
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: transparent;
    border: none;

}
.caixa1 button:hover{color: #6a2a8f;}
.caixa2{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.caixa2 button{
    height: 50px;
    width: 200px;
    font-size: 30px;
    font-family: 'Zen Antique', serif;
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: transparent;
    border: none;

}
.caixa2 button:hover{color: #6a2a8f;}

.caixa3{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 100%;
    
}
.caixa3 button{
    height: 50px;
    width: 200px;
    font-size: 30px;
    font-family: 'Zen Antique', serif;
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: transparent;
    border: none;

}
.caixa3 button:hover{color: #6a2a8f;}
.space{
    display: flex;
}

.slider img {
    width: 120%;
    height: 120%;
    margin-top: 50px; 
}

.slider_animacao {
    position: relative;
    animation: animateright 0.1s;

}

@keyframes animateright {
    from{
        right:0;
        opacity:1;
    } to {
        right:0;
        opacity:1;
    }
}
.modal{

    display: none; 
    position: fixed; 
    z-index: 2; 
    width: 60%; 
    height: 70%; 
    overflow: auto; 
    background: #300b46;
    flex-direction: row;
    justify-content: space-between;
    border: black solid 4px;
    

}
.modal .carta{

    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #300b46;
    border-right: black solid 4px;

}

.modal .carta img {

    height: 90%;

}
.modal .conteudo2{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 60%;
    

}
.modal .conteudo2 .cabeçalho {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    color: rgb(219, 188, 188);


}
.modal .conteudo2 .cabeçalho .titulo {

    height: 100%;
    width: 90%;
    background-color: #300b46;
    display: flex;
    justify-content: center;
    align-items: center;

}
.modal .conteudo2 .cabeçalho .fechar {

    display: flex;
    height: 100%;
    width: 10%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    border-left: black solid 1px;
    border-bottom: black solid 1px;

}
.modal .conteudo2 .cabeçalho .fechar:hover {
    color: black;
    
}
.modal .conteudo2 .corpomodal {

    display: flex;
    height: 90%;
    width: 100%;
    overflow: auto;    

}
.modal .conteudo2 .corpomodal p{

    margin-left: 50px;
    margin-right: 25px;
    margin-top: 25px;
    
    color: rgb(219, 188, 188);
    font-size: 20px;
    
    /*text-shadow: 2px 2px 2px black;*/

}